body {
  background: #2d2d2d;
  color: grey;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body h2 {
  color: white;
}

/*Profile thumb dropdown ------------------------------------------------------------------*/

.profile-picture-nav-thumb {
  width: 60px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  border-top: 1px solid #fff;
  z-index: 2;
}

.card-block {
  padding: 12px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.caption {
  color: #AAA;
  margin-top: -10px;
}

/*Project list ------------------------------------------------------------------*/

.project-list {
  padding: 10px 25px;
}

.add-project-input {
  z-index: 1;
}

.project-list-entry {
  padding: 7px 10px;
  margin: 15px 5px;
  background: #fff;
  font-size: 1em;
  line-height: 1.3em;
  -moz-box-shadow:    3px 3px 0 0 #ccc;
  -webkit-box-shadow: 3px 3px 0 0 #ccc;
  box-shadow:         3px 3px 0 0 #ccc;
  font-weight: normal;
}

.project-list-entry:hover {
  cursor: pointer;
}

.project-list-entry-title {
  font-weight: bold;
}

.project-list-entry-detail {
  font-size: 12px;
  color: #999;
}

.right {
  float: right;
}

/*Project View ------------------------------------------------------------------*/

.deliverables-section, .resources-section, .project-details {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid #f7f7f9;
  color: #292b2c;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.project-details {
  margin: 1rem;
}

.deliverables-section input {
  width: 0 auto;
  margin: 5px 0;
}

.deliverables-section-header {
  margin: 10px 0;
}

.deliverables-section h2, .deliverables-section h3, .resources-section h2 {
  text-align: center;
  color: #2d2d2d;
}

.deliverables {
  height: 100%;
  max-height: 150px;
  overflow-y: scroll;
}

.resources-section {
  margin-right: 1rem;
}

.deliverables-section::after, .resources-section::after {
  display: block;
  clear: both;
}

/*Chat Room Styles ------------------------------------------------------------------*/
.messages {
  padding: 7px 10px;
  margin: 15px ;
  background: #fff;
  font-size: 1em;
  width: 50%;
  line-height: 1.3em;
  box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
  width: 25%;
}

.message_form h3 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 0px 15px ;
}

.message_form input {
  padding: 7px 10px;
  margin: 15px ;
  background: #fff;
  font-size: 1em;
  width: 25%;
  line-height: 1.3em;
  box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
}

.searchBar input {
  padding: 7px 10px;
  margin: 15px ;
  width: 97%;
  font-weight: normal;
}
