body {
  background: #2d2d2d;
  color: #2d2d2d;
  font-family: "Rubik", "Helvetica Nueue", "Helvetica", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  /*font-family: "Rock Salt", sans-serif;*/
}

.fa {
  vertical-align: middle;
}

.container, .container-fluid {
  margin: 1rem;
}

.col {
  padding: 0;
}

/*Login Page   ------------------------------------------------------------------*/


.login {
  position: fixed;
  top: 175px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 175px;
  right: 0;
}

.login button {
  width: 125px;
  margin-top: 1rem;
}

.login img {
  width: 175px;
  margin: 1rem;
}

/*Profile thumb dropdown ------------------------------------------------------------------*/

.navbar {
  padding: 0 1rem;
}

.navbar-brand {
  width: 5rem;
  margin: 0 auto;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  width: 15rem;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow:         5px 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.card-block {
  padding: 12px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.caption {
  color: #AAA;
  margin-top: -10px;
}

/*Project list ------------------------------------------------------------------*/

.fa-chevron-right {
  margin-right: .5rem;
}

.repoList {
  max-height: 150px;
  overflow-y: scroll;
}
.search-repos {
  width: 100%;
}

#search-repo {
  z-index: 1;
  margin: 1rem;
}

#add-button {
  margin-left: .5rem;
}

.project-list-entry {
  padding: 7px 10px;
  margin: 15px 5px;
  background: #fff;
  font-size: 1em;
  line-height: 1.3em;
  -moz-box-shadow:    5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow:         5px 5px 5px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #CCC;
  font-weight: normal;
}

.project-list-entry:hover {
  cursor: pointer;
}

.project-list-entry-title {
  font-weight: bold;
}

.project-list-entry-detail {
  font-size: 12px;
  color: #2d2d2d;
}

.right {
  float: right;
}

.projects-section {
  margin-top: 1rem;
}

/*Project View ------------------------------------------------------------------*/
/*
I'll save you some google-time here:
rem = root-em. 1rem = the value of the root font-size. So if the html element has a font-size of 16px, 10 rem = 160px anywhere in the site.
em. 1em = the value of the font-size of the element on which it is applied. So if the div font-size is 18px, even if the root is 16px, 10em = 180px.
benefit: their scalability and you don't have to adjust the px value of everything if you want to scale up or down.
*/
.deliverables-section, .resources-section, .project-details, .chat-section, .project-list-header, .projects-section, #deliverables {
  position: relative;
  padding: 1.5rem;
  border: .2rem solid #f7f7f9;
  color: #292b2c;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#deliverables, .resources-section {
  overflow-y: scroll;
}

.inline {
  display: inline;
  margin: 0 auto;
}

.deliverables-section input, .project-list-header input {
  width: 100%;
  margin: .5rem 0;
}

.deliverables-section button, .deliverables-section select {
  margin: 0 .5rem 0 0;
}

.deliverables-section-header {
  margin-bottom: 1rem;
}

.deliverables-section-body {
  text-align: center;
}

.project-view h1, .project-view h2, .project-view h3, .project-view h4, .project-view h5 {
  color: #2d2d2d;
}

.project-view h2, .project-view h3 {
  text-align: center;
}

.deliverables-section::after, .resources-section::after, .project-list-header::after, .projects-section::after {
  display: block;
  clear: both;
}

.chat-section {
  height: 640px;
}

.resources-section {
  height: 100%;
}

/*Chat Room Styles ------------------------------------------------------------------*/
.messages {
  min-height: 460px;
  overflow-y: scroll;
  word-wrap: break-word;
  padding: 0 1em;
  max-height: 460px;
}

.message {
  margin-bottom: .5em;
}
/*Add Repo Styles ------------------------------------------------------------------*/
.repoAddMessage {
  font-size: 14px;
  font-weight: bold;
}

.repoNamebar {
  margin: 1px 16px;
  padding: 3px;
  background: #fff;
  font-size: 1em;
}

.input-group-addon {
  float: left;
  margin: 2.5px 5px 0px 0px;
  padding: 3px;
  font-size: .9em;
}

.repo-nav {
  font-family: Rubik;
  font-size: 40px;
  font-weight: 500;
  color: black;
}

.repo-nav:hover {
  text-decoration: none;
  color: #0275d8;
}

.delete {
  font-size: 25px;
  border-radius: .25em;
}

.deleteBar {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

a.repoNav {
  display: inline-block;
}

.delete:hover {
  background-color: red;
  color: white;
}

.fa-trash {
  font-size: 1.5em;
}

/*Breakpoints (for responsive design) ------------------------------------------------------------------*/
 /*Below 991px, page resizes to single-column, so we need to make sure the only space is 1rem above each component for proper spacing*/
@media (max-width: 991px) {
  .project-view-component {
    padding: 0;
    margin: 1rem 0 0 0;
  }
}

/*Above 991px, page resizes to double-column, so we need to make sure each component has 1rem of space above, the left components .5rem to the right, and the right components .5rem to the left to make a total of 1rem of space in between and 1rem to the sides*/
@media (min-width: 992px) {
  .project-view-component {
    margin-top: 1rem;
  }
  .project-view-component-left {
    padding: 0 .5rem 0 0;
  }
  .project-view-component-right {
    padding: 0 0 0 .5rem;
  }
}
