body {
  background: #ebebeb;
}

.profile-picture-nav-thumb {
  width: 60px;
  margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.card-block {
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.caption {
  color: #AAA;
  margin-top: -10px;
}

.project-list-entry {
  padding: 7px 10px;
  margin: 15px;
  background: #fff;
  font-size: 1em;
  line-height: 1.3em;
  box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  font-weight: normal;
}

.project-list-entry:hover {
  font-size: 1.1em;
  color: #006DFF;
  cursor: pointer;
}

.project-list-entry-title {
  font-weight: bold;
}

.project-list-entry-detail {
  font-size: 12px;
  color: #999;
}

.right {
  float: right;
}

.panel-heading {
  background-color: #0269c2;
  padding: 0 0 5px 0;
  border: 1px solid #D1D1D1;
  cursor: pointer;
}
